body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 8 00px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .result-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .result-container button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .result-container button:hover {
    background-color: #0056b3;
  }
  #main-button{
    background-color: #34c311;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    border-color: #34c311;
  }
  .details-container {
    display: flex;
    justify-content: space-between;
  }
  
  .details-container .table-container {
    flex-basis: 48%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px;
  }
  
  table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  